<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewsport" content="widht=device-width, initial-scale = 1, shrink-to-fit = no">
    <link rel="stylesheet" href="../style.css">
    <script src="https://unpkg.com/lucide@latest"></script>
    <title>Cardápio</title>
    <script>
        document.addEventListener("DOMContentLoaded", ()=>{
            lucide.createIcons();
        })
    </script>
</head>
<body>
    <navbar>
        <img th:src="@{/imagens/info.png}" width="100px">
        <a th:href="@{/cardapio}">Cardápio</a>
    </navbar>
    <news>
        <a th:href="@{/cardapio/novo}" class="botoes" ><i data-lucide="book-plus"></i>Novo Prato</a>
        <a th:href="@{/cardapio/relatorio}" class="botoes"><i data-lucide="book-plus"></i>Gerar Relatório</a>
    </news>
        <table>
            <thead class="table-dark">
            <tr>
                <th>Prato</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cardapio : ${listacardapio}">
                <td th:text="${cardapio.prato}"/>
                <td th:text="${cardapio.descricao}"/>
                <td th:text="${cardapio.preco}"/>
                <td>
                    <a th:href="@{cardapio/edita(id=${cardapio.id})}"><i data-lucide="square-pen"></i> Editar </a>
                    <a th:href="@{cardapio/exclui(id=${cardapio.id})}" onclick="if (!(confirm('Tem certeza que deseja excluir'))) return false"><i data-lucide="trash-2"></i> Excluir
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

</body>
</html>